<a href="https://colab.research.google.com/github/dbarrer5/milestone-02/blob/main/Mini_Assignment_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Mini Assignment 7. Concatenating & Merging Data
Please add one code cell after each question and create a program to answer the question. Make sure your code runs without error. After you are finished, click on File -> Print -> Save as PDF to create a PDF output and upload it on Brightspace.

NOTE: Make sure your PDF does not have your name or any identifying information in the name or content of the file. Anonymity is essential for the peer-review process.

##Milti-Level Indexing

1. Read the [population](https://datascience.quantecon.org/assets/data/wdi_population.csv) dataset, [financial](https://datascience.quantecon.org/assets/data/wdi_data.csv) dataset, and [area](https://drive.google.com/file/d/1fY1ee-Uqsu7Bw54GbT4L0m5dCwTttksG/view?usp=sharing) dataset separately as dataframes. For the first two, make sure to make 'country' and 'year' columns as first and second level index respectively.

In [ ]:
import pandas as pd
import numpy as np
pop = pd.read_csv('wdi_population.csv', na_values=['na','n/a'])
pop = pop.set_index(['country', 'year'])
pop

                    Population
country       year
Canada        2017   36.540268
              2016   36.109487
              2015   35.702908
              2014   35.437435
              2013   35.082954
...                        ...
United States 2004  292.805298
              2003  290.107933
              2002  287.625193
              2001  284.968955
              2000  282.162411

[72 rows x 1 columns]

In [ ]:
fin = pd.read_csv('wdi_data.csv', na_values=['na','n/a'])
fin = fin.set_index(['country', 'year'])
fin

                    GovExpend  Consumption   Exports   Imports        GDP
country       year
Canada        2017   0.372665     1.095475  0.582831  0.600031   1.868164
              2016   0.364899     1.058426  0.576394  0.575775   1.814016
              2015   0.358303     1.035208  0.568859  0.575793   1.794270
              2014   0.353485     1.011988  0.550323  0.572344   1.782252
              2013   0.351541     0.986400  0.518040  0.558636   1.732714
...                       ...          ...       ...       ...        ...
United States 2004   2.267999     9.311431  1.335978  2.108585  13.846058
              2003   2.233519     8.974708  1.218199  1.892825  13.339312
              2002   2.193188     8.698306  1.192180  1.804105  12.968263
              2001   2.112038     8.480461  1.213253  1.740797  12.746262
              2000   2.040500     8.272097  1.287739  1.790995  12.620268

[72 rows x 5 columns]

In [ ]:
area = pd.read_csv('Area Size.csv', na_values=['na','n/a'])
area

          country  sq_miles
0   United States    3.8000
1          Canada    3.8000
2         Germany    0.1370
3  United Kingdom    0.0936
4          Russia    6.6000

2. From the financial dataset, display the three columns of 'GovExpend', 'Exports', and 'Imports' for Canada over all the years. Assign the output to a variable called 'findf_canada'.

In [ ]:
findf_canada = fin.loc[('Canada',slice(None)), ['GovExpend', 'Exports', 'Imports']]
findf_canada

              GovExpend   Exports   Imports
country year
Canada  2017   0.372665  0.582831  0.600031
        2016   0.364899  0.576394  0.575775
        2015   0.358303  0.568859  0.575793
        2014   0.353485  0.550323  0.572344
        2013   0.351541  0.518040  0.558636
        2012   0.354342  0.505969  0.547756
        2011   0.351887  0.492349  0.528227
        2010   0.347332  0.469949  0.500341
        2009   0.339686  0.440692  0.439796
        2008   0.330766  0.506350  0.502281
        2007   0.318777  0.530453  0.498002
        2006   0.311382  0.524461  0.470931
        2005   0.303043  0.519950  0.447222
        2004   0.299854  0.508657  0.416754
        2003   0.294335  0.481993  0.384199
        2002   0.286094  0.490465  0.368615
        2001   0.279767  0.484696  0.362023
        2000   0.270553  0.499526  0.380823

3. From the financial dataset, display the three columns of 'GovExpend', 'Exports', and 'Imports' for all the countries over 2017. Store the output in a variable called 'findf_2017'.

In [ ]:
findf_2017 = fin.loc[(slice(None),2017), ['GovExpend', 'Exports', 'Imports']]
findf_2017

                     GovExpend   Exports   Imports
country        year
Canada         2017   0.372665  0.582831  0.600031
Germany        2017   0.745579  1.930563  1.666348
United Kingdom 2017   0.549538  0.862629  0.933145
United States  2017   2.405743  2.287071  3.069954

##Concatenating Data

4. Concatenate the two financial and population dataframes into a new dataframe that includes both financial and population data for each country and each year. Call the new dataset 'finpop'.

In [ ]:
finpop = pd.concat([fin,pop])
finpop

                    GovExpend  Consumption   Exports   Imports       GDP  \
country       year
Canada        2017   0.372665     1.095475  0.582831  0.600031  1.868164
              2016   0.364899     1.058426  0.576394  0.575775  1.814016
              2015   0.358303     1.035208  0.568859  0.575793  1.794270
              2014   0.353485     1.011988  0.550323  0.572344  1.782252
              2013   0.351541     0.986400  0.518040  0.558636  1.732714
...                       ...          ...       ...       ...       ...
United States 2004        NaN          NaN       NaN       NaN       NaN
              2003        NaN          NaN       NaN       NaN       NaN
              2002        NaN          NaN       NaN       NaN       NaN
              2001        NaN          NaN       NaN       NaN       NaN
              2000        NaN          NaN       NaN       NaN       NaN

                    Population
country       year
Canada        2017         NaN
              2016         NaN
              2015         NaN
              2014         NaN
              2013         NaN
...                        ...
United States 2004  292.805298
              2003  290.107933
              2002  287.625193
              2001  284.968955
              2000  282.162411

[144 rows x 6 columns]

##Merging Data

5. Reset the indexes for the finpop and findf_2017 datasets to the default index numbers using [.reset_index()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.reset_index.html) method. Make sure to store them back in their own dataframe after reseting teh index.

In [ ]:
finpop = finpop.reset_index()

findf_2017 = findf_2017.reset_index()

6. Merge the finpop and area size datasets, so the output includes all the columns from both datasets for each country each year. Make sure it includes all the countries available in the area size dataframe (including Russia).

In [ ]:
pd.merge(finpop,area, on='country', how = 'outer')

,country,year,GovExpend,Consumption,Exports,Imports,GDP,Population,sq_miles
0,Canada,2017.0,0.372665,1.095475,0.582831,0.600031,1.868164,NaN,3.8
1,Canada,2016.0,0.364899,1.058426,0.576394,0.575775,1.814016,NaN,3.8
2,Canada,2015.0,0.358303,1.035208,0.568859,0.575793,1.794270,NaN,3.8
3,Canada,2014.0,0.353485,1.011988,0.550323,0.572344,1.782252,NaN,3.8
4,Canada,2013.0,0.351541,0.986400,0.518040,0.558636,1.732714,NaN,3.8
...,...,...,...,...,...,...,...,...,...
140,United States,2003.0,NaN,NaN,NaN,NaN,NaN,290.107933,3.8
141,United States,2002.0,NaN,NaN,NaN,NaN,NaN,287.625193,3.8
142,United States,2001.0,NaN,NaN,NaN,NaN,NaN,284.968955,3.8
143,United States,2000.0,NaN,NaN,NaN,NaN,NaN,282.162411,3.8
144,Russia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.6

7. Merge the findf_2017 and the area size datasets. Make sure the output includes all the countries available in either of the two datasets (including Russia).

In [ ]:
pd.merge(findf_2017,area, on ='country', how = 'outer')

          country    year  GovExpend   Exports   Imports  sq_miles
0          Canada  2017.0   0.372665  0.582831  0.600031    3.8000
1         Germany  2017.0   0.745579  1.930563  1.666348    0.1370
2  United Kingdom  2017.0   0.549538  0.862629  0.933145    0.0936
3   United States  2017.0   2.405743  2.287071  3.069954    3.8000
4          Russia     NaN        NaN       NaN       NaN    6.6000